@import url("https://fonts.google.com/specimen/Overpass?preview.text_type=custom");
@import url("https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass", "Ubuntu", sans-serif;
  font-size: 16px;
  overflow: scroll;
}

h1,
h2 {
  font-family: "Overpass", sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 2vh;
}
p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  background-image: url("../images/bg-pattern-intro.svg"),
    linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-bottom-left-radius: 50px;
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: 20% 50%;
}

header {
  padding: 1.5% 0 0 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  background-image: url("../images/logo.svg");
  height: 40px;
  width: 100px;
}

section {
  position: relative;
  height: calc(100vh - 3rem);
  width: 1005;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.container {
  width: 100%;
  padding: 0 2rem;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.logo-container {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 5px;
  height: 40px;
  width: 100px;
  justify-content: flex-start;
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links {
  flex: 0.25;
  justify-content: center;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  line-height: 3rem;
  color: white;
  padding: 0 0.8rem;
  letter-spacing: 1px;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.log-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 0.2rem;
  transition: 0.3s;
}

.btn.transparent {
  border: none;
}

.btn.transparent.learn {
  border: 1px solid white;
}

.btn.solid,
.btn.transparent:hover {
  background-color: white;
  color: hsl(356, 100%, 66%);
}

.btn.transparent,
.btn.solid:hover {
  background-color: transparent;
  color: white;
}

.nav-links > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link > a > i {
  margin-left: 0.2rem;
}

.nav-link:hover > a {
  transform: scale(1.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  background-color: white;
  color: hsl(356, 100%, 66%);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.dropdown-link:hover > a {
  background-color: hsl(13, 100%, 72%);
  color: white;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-containter {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  position: relative;
  z-index: 1001;
  transition: 0.5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: white;
  border-radius: 3px;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-containter .hamburger-menu div {
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-containter .hamburger-menu div:before {
  transform: translate(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-containter .hamburger-menu div:after {
  transform: translate(0) rotate(45deg);
}

.intro-content {
  background-color: transparent;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-heading,
.intro-btn {
  margin-top: 50px;
}

.intro-heading {
  font-family: "Ubuntu";
  font-size: 1.2rem;
}

.intro-text {
  margin-top: 10px;
}

.intro-heading,
.intro-text {
  letter-spacing: 1px;
}

.intro-btn {
  margin-bottom: 90px;
}

.footer .container {
  max-width: 1440px;
  margin: auto;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: hsl(240, 10%, 16%);
  border-radius: 0 64px 0 0;
  padding: 70px 0;
  font-family: "Ubuntu", sans-serif;
  padding-top: 5%;
}

.footer-col {
  width: 25%;
  padding: 50px 115px;
}

.footer-col h3 {
  font-size: 18px;
  color: white;
  margin-bottom: 35px;
  position: relative;
}

.footer-col h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 15px;
  text-decoration: none;
  color: hsl(240, 2%, 79%);
  display: block;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.footer-col ul li a:hover {
  padding-left: 8px;
}

.attribution {
  color: white;
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 3%;
}

.attribution a {
  color: hsl(0, 0%, 87%);
}

.div2 {
  background-image: url("../images/illustration-editor-desktop.svg"), url("../images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 125% 25%;
  padding: 8%;
}

#div2-title {
  text-align: center;
  margin-bottom: 150px;
}

.div2-text {
  width: 550px;
}

.div2-text h2 {
  font-size: 30px;
}

.div2-text p {
  font-size: 16px;
  margin-bottom: 50px;
}

.div3 {
  background-image: url("../images/bg-pattern-circles.svg"),
    linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position: -15% 80%;
  border-radius: 0 64px 0 64px;
  padding: 11%;
  position: relative;
  height: 200px;
}

.div3 img {
  position: absolute;
  width: 29%;
  top: -15%;
}

.div3-text h2 {
  font-size: 30px;
  color: white;
}

.div3-text {
  width: 550px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 750px;
}

.div3-text p {
  color: hsl(240, 2%, 79%);
  font-size: 16px;
}

.div4 {
  background-image: url("../images/illustration-laptop-desktop.svg");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: -35% 45%;
  padding: 25%;
  position: relative;
}

.div4-text p {
  font-size: 16px;
  margin-bottom: 50px;
}

.div4-text {
  width: 550px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 485px;
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translate(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 940px) {
  main {
    background-image: url("../images/bg-pattern-intro.svg"),
      linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position: 40% 50%;
    background-repeat: no-repeat;
    background-size: 200%;
    border-radius: 0%;
  }

  .logo-container {
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    margin-top: 5px;
    height: 40px;
    width: 100px;
    justify-content: flex-start;
  }

  .hamburger-menu-containter {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn {
    position: fixed;
    height: calc(100vh - 3rem);
    top: 4rem;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow: auto;
    transform: translateX(100%);
    transition: 0.65s;
  }

  #check:checked ~ .nav-btn {
    transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .log-sign {
    animation: animation 0.5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links > ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translate(15px);
  }

  .nav-link > a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover > a {
    transform: scale(1);
  }

  .dropdown {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    display: none;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i {
    transform: rotate(360deg);
  }

  .dropdown-link > a {
    background-color: white;
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .nav-link > a > i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: 0.7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: 0.7s;
  }

  .log-sign {
    flex: initial;
    width: 100%;
    padding: 1.5rem 1.9rem;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(15px);
  }

  .intro-heading,
  .intro-text,
  .intro-btn {
    text-align: center;
  }

  .div4-text {
    margin-bottom: 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .div2 {
    background-image: url("../images/illustration-editor-mobile.svg"), url("../images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 20%;
    padding: 8%;
    display: inline-block;
  }

  #div2-title {
    font-size: 30px;
    margin-bottom: 500px;
  }

  .div2-text {
    display: block;
    width: 400px;
    text-align: center;
  }

  .div2-text h2 {
    font-size: 22px;
  }

  .div2-text p {
    font-size: 14px;
    margin-bottom: 50px;
  }

  .div3 {
    background-image: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-repeat: no-repeat;
    background-position: 50% 80%;
    border-radius: 0 64px 0 64px;
    padding: 11%;
    position: relative;
    height: 500px;
  }

  .div3 img {
    position: absolute;
    width: 75%;
  }

  .div3-text h2 {
    font-size: 22px;
    color: white;
  }

  .div3-text {
    text-align: center;
    width: 400px;
    margin: 0;
    position: relative;
    top: 80%;
  }

  .div3-text p {
    color: hsl(240, 2%, 79%);
    font-size: 14px;
  }

  .div4 {
    background-image: url("../images/illustration-laptop-mobile.svg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 5%;
    padding: 11%;
    height: 700px;
  }

  .div4-text h2 {
    font-size: 22px;
  }

  .div4-text p {
    font-size: 14px;
  }

  .div4-text {
    text-align: center;
    width: 400px;
    display: inline-block;
    margin: 0;
    padding-top: 350px;
  }
}
